html {
  scroll-behavior: smooth;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ea4c89;
}

::selection {
  color: white;
  background: #ea4c89;
}

.active {
  button.filter-btn {
    background-color: #f3f3f4 !important;
  }
}
button.filter-btn {
  background-color: white !important;
}

.hide-overflow-scroll-bar {
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.hide-overflow-scroll-bar::-webkit-scrollbar {
  display: none;
}

.backdrop {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  cursor: pointer;
  overflow-y: hidden;
}
.modal {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
  transform: translateY(0px) translateZ(0px);
  background: white;
  width: 100%;
  height: calc(100vh - 40px);
  position: fixed;
  top: 40px;
  overflow-y: auto;
}
.floating-user {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 40px;
}

.imageZoom {
  border-radius: 10px;
  width: 100%;
  img {
    width: 100%;
  }
}
