::-moz-selection {
  /* Code for Firefox */
  color: #fce4ed;
  background: #ea4c89;
}

::selection {
  color: #fce4ed;
  background: #ea4c89;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
