html {
  scroll-behavior: smooth;
}

.active {
  button.filter-btn {
    background-color: #f3f3f4 !important;
  }
}
button.filter-btn {
  background-color: white !important;
}

.hide-overflow-scroll-bar{
    /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.hide-overflow-scroll-bar::-webkit-scrollbar {
  display: none;
}
